In [23]:
# Dependencies
from splinter import Browser
from bs4 import BeautifulSoup as bs
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [24]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 96.0.4664
Get LATEST driver version for 96.0.4664
Driver [C:\Users\mdebo\.wdm\drivers\chromedriver\win32\96.0.4664.45\chromedriver.exe] found in cache

In [ ]:
url = 'https://redplanetscience.com/'
browser.visit(url)

In [32]:
# HTML object
    html = browser.html
    # Parse HTML with Beautiful Soup
    soup = bs(html, 'html.parser')
    # retrieve the most recent news item
    news_item = soup.select_one('div', class_='list_text')

In [33]:
# Retrieve the most recent news item content, date, title, blurb
news_date = soup.find('div', class_='list_date').get_text()
news_date

'November 18, 2021'

In [34]:
news_title = soup.find('div', class_='content_title').get_text()
news_title

'NASA Invites Public to Share Excitement of Mars 2020 Perseverance Rover Launch'

In [35]:
news_blurb = soup.find('div', class_='article_teaser_body').get_text()
news_blurb

'There are lots of ways to participate in the historic event, which is targeted for July 30.'

In [102]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 96.0.4664
Get LATEST driver version for 96.0.4664
Driver [C:\Users\mdebo\.wdm\drivers\chromedriver\win32\96.0.4664.45\chromedriver.exe] found in cache

In [103]:
#JPL Mars Space Images - Featured Image
url = 'https://spaceimages-mars.com/'
browser.visit(url)

In [104]:
# HTML object
html = browser.html
# Parse HTML with Beautiful Soup
soup = bs(html, 'html.parser')
# retrieve the most recent news item
#jpl_image = soup.find('div', class_='floating_text_area')

In [105]:
# Use Beautiful Soup's find() method to navigate and retrieve attributes
# h1 = soup.find('h1', class_='media_feature_title').get_text()
# print(h1)

In [106]:
#full_image_element = browser.links.find_by_partial_text('FULL IMAGE')
#full_image_element.click()

In [109]:
soup

<html class=""><head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
<!-- <link rel="stylesheet" type="text/css" href="css/font.css"> -->
<link href="css/app.css" rel="stylesheet" type="text/css"/>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<title>Space Image</title>
<style type="text/css">.fancybox-margin{margin-right:16px;}</style></head>
<body>
<div class="header">
<nav class="navbar navbar-expand-lg">
<a class="navbar-brand" href="#"><img id="logo" src="image/nasa.png"/><span class="logo">Jet Propulsion Laboratory</span>
<span class="logo1">California Institute of Technology</span></a>
<button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarNav" data-toggle="collapse" type="button">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
<ul class="navbar-nav">
<li class="nav-item active">
<a class="nav-link" href="#"><i aria-hidden="true" class="fa fa-bars"></i>   MENU   <i aria-hidden="true" class="fa fa-search"></i></a>
</li>
</ul>
</div>
</nav>
<div class="floating_text_area">
<h2 class="brand_title">FEATURED IMAGE</h2>
<h1 class="media_feature_title">Dusty Space Cloud</h1>
<br/>
<a class="showimg fancybox-thumbs" href="image/featured/mars1.jpg" target="_blank"> <button class="btn btn-outline-light"> FULL IMAGE</button></a>
</div>
<img class="headerimage fade-in" src="image/featured/mars1.jpg"/></div>
<div class="search sticky">
<div class="col-md-12">
<div class="row">
<div class="col-md-6">
<input name="Search" placeholder="Search" type="text"/>
</div>
<div class="col-md-6">
<select aria-label="Default select example" class="form-select" id="options">
<option onchange="0" selected="">Mars</option>
<!-- <option data-filter="sun" class="button">Mars</option> -->
<option class="button" data-filter="Sun">Sun</option>
<option class="button" data-filter="earth">Earth</option>
<option class="button" data-filter="ida">Ida</option>
<option class="button" data-filter="jupiter">Jupiter</option>
<option class="button" data-filter="venus">Venus</option>
</select>
</div>
</div>
</div>
</div>
<div class="container mt-5">
<div class="col-md-12">
<div class="row">
<div class="col-md-6">
<h1>Images</h1>
</div>
<div class="col-md-6" id="icon">
<div class="icon2"></div>
<div class="icon1"></div>
</div>
</div>
</div>
<!-- first div -->
<div class="div1" id="filter">
<div class="thmbgroup"><a class="fancybox-thumbs" data-fancybox-group="thumb" href="image/mars/Icaria Fossae7.jpg"><div class="thmb"><img alt="" class="thumbimg" src="image/mars/Icaria Fossae7.jpg"/><p class="thumbcontent">January 1, 2020<br/>Icaria Fossae7</p></div></a><a class="fancybox-thumbs" data-fancybox-group="thumb" href="image/mars/Proctor Crater Dunes 7.jpg"><div class="thmb"><img alt="" class="thumbimg" src="image/mars/Proctor Crater Dunes 7.jpg"/><p class="thumbcontent">December 31, 2020<br/>Proctor Crater Dunes</p></div></a><a class="fancybox-thumbs" data-fancybox-group="thumb" href="image/mars/Icaria Fossae7.jpg"><div class="thmb"><img alt="" class="thumbimg" src="image/mars/Icaria Fossae7.jpg"/><p class="thumbcontent">December 31, 2020<br/>Icaria Fossae</p></div></a><a class="fancybox-thumbs" data-fancybox-group="thumb" href="image/mars/Proctor Crater Dunes 7.jpg"><div class="thmb"><img alt="" class="thumbimg" src="image/mars/Proctor Crater Dunes 7.jpg"/><p class="thumbcontent">December 29, 2020<br/>Proctor Crater Dunes</p></div></a><a class="fancybox-thumbs" data-fancybox-group="thumb" href="image/mars/Proctor Crater Dunes 7.jpg"><div class="thmb"><img alt="" class="thumbimg" src="image/mars/Proctor Crater Dunes 7.jpg"/><p class="thumbcontent">December 28, 2020<br/>roctor Crater Dunes</p></div></a><a class="fancybox-thumbs" data-fancybox-group="thumb" href="image/mars/Icaria Fossae7.jpg"><div class="thmb"><img alt="" class="thumbimg" src="image/mars/Icaria Fossae7.jpg"/><p class="thumbcontent">December 22, 2020<br/>Icaria Fossae</p></div></a><a class="fancybox-thumbs" data-fancybox-group="thumb" href="image/mars/Icaria Fossae.jpg"><div class="thmb"><img alt="" class="thumbimg" src="image/mars/Icaria Fossae.jpg"/><p class="thumbcontent">December 21, 2020<br/>Icaria Fossae</p></div></a><a class="fancybox-thumbs" data-fancybox-group="thumb" href="image/mars/Ariadnes Colles4.jpg"><div class="thmb"><img alt="" class="thumbimg" src="image/mars/Ariadnes Colles4.jpg"/><p class="thumbcontent">December 18, 2020<br/>Ariadnes Colles</p></div></a><a class="fancybox-thumbs" data-fancybox-group="thumb" href="image/mars/Niger Vallis.jpg"><div class="thmb"><img alt="" class="thumbimg" src="image/mars/Niger Vallis.jpg"/><p class="thumbcontent">December 17, 2020<br/>Niger Vallis</p></div></a><a class="fancybox-thumbs" data-fancybox-group="thumb" href="image/mars/Proctor Crater Dunes.jpg"><div class="thmb"><img alt="" class="thumbimg" src="image/mars/Proctor Crater Dunes.jpg"/><p class="thumbcontent">December 16, 2020<br/>Proctor Crater Dunes</p></div></a><a class="fancybox-thumbs" data-fancybox-group="thumb" href="image/mars/Niger Vallis.jpg"><div class="thmb"><img alt="" class="thumbimg" src="image/mars/Niger Vallis.jpg"/><p class="thumbcontent">December 15, 2020<br/>Niger Vallis</p></div></a><a class="fancybox-thumbs" data-fancybox-group="thumb" href="image/mars/Daedalia Planum.jpg"><div class="thmb"><img alt="" class="thumbimg" src="image/mars/Daedalia Planum.jpg"/><p class="thumbcontent">December 11, 2020<br/>Daedalia Planum</p></div></a><a class="fancybox-thumbs" data-fancybox-group="thumb" href="image/mars/Sirenum Fossae.jpg"><div class="thmb"><img alt="" class="thumbimg" src="image/mars/Sirenum Fossae.jpg"/><p class="thumbcontent">November,11, 2020<br/>Sirenum Fossae</p></div></a><a class="fancybox-thumbs" data-fancybox-group="thumb" href="image/mars/Ariadnes Colles4.jpg"><div class="thmb"><img alt="" class="thumbimg" src="image/mars/Ariadnes Colles4.jpg"/><p class="thumbcontent">November,13, 2020<br/>Ariadnes Colles</p></div></a><a class="fancybox-thumbs" data-fancybox-group="thumb" href="image/mars/South Polar Cap.jpg"><div class="thmb"><img alt="" class="thumbimg" src="image/mars/South Polar Cap.jpg"/><p class="thumbcontent">November,14, 2020<br/>South Polar Cap</p></div></a><a class="fancybox-thumbs" data-fancybox-group="thumb" href="image/mars/Daedalia Planum.jpg"><div class="thmb"><img alt="" class="thumbimg" src="image/mars/Daedalia Planum.jpg"/><p class="thumbcontent">November,17, 2020<br/>Daedalia Planum</p></div></a><a class="fancybox-thumbs" data-fancybox-group="thumb" href="image/mars/Ariadnes Colles3.jpg"><div class="thmb"><img alt="" class="thumbimg" src="image/mars/Ariadnes Colles3.jpg"/><p class="thumbcontent">November,11, 2020<br/>Ariadnes Colles</p></div></a><a class="fancybox-thumbs" data-fancybox-group="thumb" href="image/mars/Atlantis Chaos.jpg"><div class="thmb"><img alt="" class="thumbimg" src="image/mars/Atlantis Chaos.jpg"/><p class="thumbcontent">November,09, 2020<br/>Atlantis Chaos</p></div></a><a class="fancybox-thumbs" data-fancybox-group="thumb" href="image/mars/Daedalia Planum.jpg"><div class="thmb"><img alt="" class="thumbimg" src="image/mars/Daedalia Planum.jpg"/><p class="thumbcontent">January 1, 2020<br/>Daedalia Planum</p></div></a><a class="fancybox-thumbs" data-fancybox-group="thumb" href="image/mars/Icaria Fossae.jpg"><div class="thmb"><img alt="" class="thumbimg" src="image/mars/Icaria Fossae.jpg"/><p class="thumbcontent">January 1, 2020<br/>Icaria Fossae</p></div></a><a class="fancybox-thumbs" data-fancybox-group="thumb" href="image/mars/Niger Vallis.jpg"><div class="thmb"><img alt="" class="thumbimg" src="image/mars/Niger Vallis.jpg"/><p class="thumbcontent">January 1, 2020<br/>Niger Vallis</p></div></a><a class="fancybox-thumbs" data-fancybox-group="thumb" href="image/mars/Proctor Crater Dunes.jpg"><div class="thmb"><img alt="" class="thumbimg" src="image/mars/Proctor Crater Dunes.jpg"/><p class="thumbcontent">January 1, 2020<br/>Proctor Crater Dunes</p></div></a><a class="fancybox-thumbs" data-fancybox-group="thumb" href="image/mars/Reull Vallis.jpg"><div class="thmb"><img alt="" class="thumbimg" src="image/mars/Reull Vallis.jpg"/><p class="thumbcontent">January 1, 2020<br/>Reull Vallis</p></div></a><a class="fancybox-thumbs" data-fancybox-group="thumb" href="image/mars/Ariadnes Colles3.jpg"><div class="thmb"><img alt="" class="thumbimg" src="image/mars/Ariadnes Colles3.jpg"/><p class="thumbcontent">January 1, 2020<br/>Ariadnes Colles</p></div></a><a class="fancybox-thumbs" data-fancybox-group="thumb" href="image/mars/Sirenum Fossae.jpg"><div class="thmb"><img alt="" class="thumbimg" src="image/mars/Sirenum Fossae.jpg"/><p class="thumbcontent">January 1, 2020<br/>Sirenum Fossae</p></div></a><a class="fancybox-thumbs" data-fancybox-group="thumb" href="image/mars/South Polar Cap.jpg"><div class="thmb"><img alt="" class="thumbimg" src="image/mars/South Polar Cap.jpg"/><p class="thumbcontent">January 1, 2020<br/>South Polar Cap</p></div></a><a class="fancybox-thumbs" data-fancybox-group="thumb" href="image/mars/Niger Vallis.jpg"><div class="thmb"><img alt="" class="thumbimg" src="image/mars/Niger Vallis.jpg"/><p class="thumbcontent">January 1, 2020<br/>Niger Vallis</p></div></a><a class="fancybox-thumbs" data-fancybox-group="thumb" href="image/mars/Daedalia Planum.jpg"><div class="thmb"><img alt="" class="thumbimg" src="image/mars/Daedalia Planum.jpg"/><p class="thumbcontent">January 1, 2020<br/>Daedalia Planum</p></div></a><a class="fancybox-thumbs" data-fancybox-group="thumb" href="image/mars/Icaria Fossae.jpg"><div class="thmb"><img alt="" class="thumbimg" src="image/mars/Icaria Fossae.jpg"/><p class="thumbcontent">January 1, 2020<br/>Icaria Fossae</p></div></a><a class="fancybox-thumbs" data-fancybox-group="thumb" href="image/mars/Ariadnes Colles4.jpg"><div class="thmb"><img alt="" class="thumbimg" src="image/mars/Ariadnes Colles4.jpg"/><p class="thumbcontent">January 1, 2020<br/>Ariadnes Colles</p></div></a><a class="fancybox-thumbs" data-fancybox-group="thumb" href="image/mars/South Polar Cap.jpg"><div class="thmb"><img alt="" class="thumbimg" src="image/mars/South Polar Cap.jpg"/><p class="thumbcontent">January 1, 2020<br/>South Polar Cap</p></div></a><a class="fancybox-thumbs" data-fancybox-group="thumb" href="image/mars/Daedalia Planum.jpg"><div class="thmb"><img alt="" class="thumbimg" src="image/mars/Daedalia Planum.jpg"/><p class="thumbcontent">January 1, 2020<br/>Daedalia Planum</p></div></a></div>
</div>
<!-- first div ends -->
<!-- second div starts -->
<div class="col-md-12 grid-margin" id="column">
<ul class="post-list">
<li class="post-heading"></li>
</ul>
</div>
<!-- second div starts -->
</div>
<div class="first imgcontainer mt-3">
<div class="col-md-12">
<div class="row">
<div class="col-md-3">
<img id="pic" src=""/>
</div>
</div>
</div>
</div>
<!-- end -->
<div class="module_gallery container">
<div class="col-md-12">
<div class="row">
<div class="col-md-6">
<div class="card">
<img alt="Card image cap" class="card-img-top" src="https://www.jpl.nasa.gov/assets/images/content/tmp/images/jpl_photojournal(3x1).jpg"/>
<div class="card-body">
<h5 class="card-title">JPL Photojournal</h5>
<p class="card-text">Access to the full library of publicly released images from various Solar System exploration programs</p>
</div>
</div>
</div>
<div class="col-md-6">
<div class="card">
<img alt="Card image cap" class="card-img-top" src="https://www.jpl.nasa.gov/assets/images/content/tmp/images/nasa_images(3x1).jpg"/>
<div class="card-body">
<h5 class="card-title">Great images in NASA</h5>
<p class="card-text">A selection of the best-known images from a half-century of exploration and discovery</p>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="multi_teaser">
<div class="container">
<h1>You Might Also Like</h1>
<div class="col-md-12 mt-5">
<div class="row">
<div class="col-md-4">
<div class="card">
<img alt="Card image cap" class="card-img-top" src="https://imagecache.jpl.nasa.gov/images/640x350/C1-PIA24304---CatScanMars-16-640x350.gif"/>
<div class="card-body">
<p class="card-text">Access to the full library of publicly released images from various Solar System exploration programs</p>
</div>
</div>
</div>
<div class="col-md-4">
<div class="card">
<img alt="Card image cap" class="card-img-top" src="https://imagecache.jpl.nasa.gov/images/640x350/PIA23491-16-640x350.jpg"/>
<div class="card-body">
<p class="card-text">Access to the full library of publicly released images from various Solar System exploration programs</p>
</div>
</div>
</div>
<div class="col-md-4">
<div class="card">
<img alt="Card image cap" class="card-img-top" src="https://imagecache.jpl.nasa.gov/images/640x350/C1-PIA23180-16-640x350.gif"/>
<div class="card-body">
<p class="card-text">Access to the full library of publicly released images from various Solar System exploration programs</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="footer">
<div class="container">
<div class="col-md-12">
<div class="row">
<div class="col-md-3">
<h4>About JPL</h4>
<ul>
<li>About JPL</li>
<li>JPL Vision</li>
<li>Executive Council</li>
<li>History</li>
</ul>
</div>
<div class="col-md-3">
<h4>Education</h4>
<ul>
<li>Intern</li>
<li>Learn</li>
<li>Teach</li>
<li>News</li>
</ul>
</div>
<div class="col-md-3">
<h4>Our Sites</h4>
<ul>
<li>Asteroid Watch</li>
<li>Basics of Spaceflight</li>
<li>Cassini - Mission to Saturn</li>
<li>Climate Kids</li>
</ul>
</div>
<div class="col-md-3">
<h4>Galleries</h4>
<ul>
<li>JPL Space Images</li>
<li>Videos</li>
<li>Infographics</li>
<li>Photojournal</li>
</ul>
</div>
</div>
</div>
</div>
</div>
<!--<div class="showFullimage">
	<button class="btn btn-outline-light hideimage" onclick=hideimage()> Close</button>
	<img class="fullimage fade-in" src="">
</div>-->
<!-- <script src="js/jquery.easeScroll.js"></script>  -->
<script src="js/jquery-3.5.1.min.js"></script>
<!-- <script src="js/jquery-3.2.1.slim.min.js"></script> -->
<script src="js/demo.js"></script>
<!-- <script src="js/app.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="js/fancyBox/jquery.fancybox.pack.js?v=2.1.5" type="text/javascript"></script>
<link href="js/fancyBox/jquery.fancybox.css?v=2.1.5" media="screen" rel="stylesheet" type="text/css"/>
<link href="js/fancyBox/helpers/jquery.fancybox-thumbs.css?v=1.0.7" rel="stylesheet" type="text/css"/>
<script src="js/fancyBox/helpers/jquery.fancybox-thumbs.js?v=1.0.7" type="text/javascript"></script>
</body></html>

In [111]:
featured_image_url = soup.find('img', class_="headerimage")['src']
url+featured_image_url

'https://spaceimages-mars.com/image/featured/mars1.jpg'

In [112]:
print(url+featured_image_url)

https://spaceimages-mars.com/image/featured/mars1.jpg

In [136]:
featured_jpl = soup.find('img', src=True)
featured_jp
# #print image url
# for image in featured_jpl:
#     print(image['src'])

[]

In [19]:
browser.quit()

In [13]:
#JPL Mars Space Images - Featured Image
url = 'https://spaceimages-mars.com/'
browser.visit(url)

MaxRetryError: HTTPConnectionPool(host='127.0.0.1', port=65467): Max retries exceeded with url: /session/63ce4c6051df249d3b250fe0e8974958/url (Caused by NewConnectionError('<urllib3.connection.HTTPConnection object at 0x000001C2DADE4DD8>: Failed to establish a new connection: [WinError 10061] No connection could be made because the target machine actively refused it',))

In [35]:
# HTML object
html = browser.html
# Parse HTML with Beautiful Soup
soup = bs(html, 'html.parser')
# retrieve the most recent news item
jpl_image = soup.find('div', class_='floating_text_area')

In [36]:
# Use Beautiful Soup's find() method to navigate and retrieve attributes
h1 = soup.find('h1', class_='media_feature_title').get_text()
print(h1)

Dusty Space Cloud

In [37]:
full_image_element = browser.links.find_by_partial_text('FULL IMAGE')
full_image_element.click()

ElementClickInterceptedException: Message: element click intercepted: Element <a target="_blank" class="showimg fancybox-thumbs" href="image/featured/mars3.jpg">...</a> is not clickable at point (410, 729). Other element would receive the click: <div class="fancybox-overlay fancybox-overlay-fixed" style="width: auto; height: auto; display: block;">...</div>
  (Session info: chrome=96.0.4664.45)

In [ ]:
featured_image_url = soup.find('img', class_="fancybox-image")['src']
featured_image_url

In [192]:
url = "https://galaxyfacts-mars.com/"
browser.visit(url)

In [208]:
table = pd.read_html(url)
len(tables)

2

In [365]:
mars_table = table[1]
print(mars_table)

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [366]:
combo_table = table[0]
print(combo_table)

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [293]:
# combo_table = combo_table.rename(columns={'1':'Mars', '2':'Earth'})
# combo_table

In [197]:
print(tables)

[                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C,                       0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers]

In [367]:
earth_table = pd.DataFrame({'2': ['12,742 km', '12,713.6 km', '5.97×10^24 kg (1.0 Earth)', '1 ( Luna )', '149,597,870 km (1.0 AU)', '365.256 days (1.0 years)', '-89 to 57 °C', 'uhh', 'The monkeys in 2001: A Space Odyssey'], 
                           '3': ['1','2','3','4','5','6','7','15','16']})

In [368]:
print(earth_table)

                                      2   3
0                             12,742 km   1
1                           12,713.6 km   2
2             5.97×10^24 kg (1.0 Earth)   3
3                            1 ( Luna )   4
4               149,597,870 km (1.0 AU)   5
5              365.256 days (1.0 years)   6
6                          -89 to 57 °C   7
7                                   uhh  15
8  The monkeys in 2001: A Space Odyssey  16

In [369]:
join_1 = mars_table.merge(right=earth_table, how="outer", left_index=True, right_index=True)
join_1

,0,1,2,3
0,Equatorial Diameter:,"6,792 km","12,742 km",1
1,Polar Diameter:,"6,752 km","12,713.6 km",2
2,Mass:,6.39 × 10^23 kg (0.11 Earths),5.97×10^24 kg (1.0 Earth),3
3,Moons:,2 ( Phobos & Deimos ),1 ( Luna ),4
4,Orbit Distance:,"227,943,824 km (1.38 AU)","149,597,870 km (1.0 AU)",5
5,Orbit Period:,687 days (1.9 years),365.256 days (1.0 years),6
6,Surface Temperature:,-87 to -5 °C,-89 to 57 °C,7
7,First Record:,2nd millennium BC,uhh,15
8,Recorded By:,Egyptian astronomers,The monkeys in 2001: A Space Odyssey,16

In [370]:
join_1 = join_1.set_index('3')
join_1

,0,1,2
3,,,
1,Equatorial Diameter:,"6,792 km","12,742 km"
2,Polar Diameter:,"6,752 km","12,713.6 km"
3,Mass:,6.39 × 10^23 kg (0.11 Earths),5.97×10^24 kg (1.0 Earth)
4,Moons:,2 ( Phobos & Deimos ),1 ( Luna )
5,Orbit Distance:,"227,943,824 km (1.38 AU)","149,597,870 km (1.0 AU)"
6,Orbit Period:,687 days (1.9 years),365.256 days (1.0 years)
7,Surface Temperature:,-87 to -5 °C,-89 to 57 °C
15,First Record:,2nd millennium BC,uhh
16,Recorded By:,Egyptian astronomers,The monkeys in 2001: A Space Odyssey

In [371]:
dataframe = join_1.merge(combo_table, how='left', left_index=True, right_index=True)
dataframe

,0_x,1_x,2,0_y,1_y,2
3,,,,,,
1,Equatorial Diameter:,"6,792 km","12,742 km",NaN,NaN,NaN
2,Polar Diameter:,"6,752 km","12,713.6 km",NaN,NaN,NaN
3,Mass:,6.39 × 10^23 kg (0.11 Earths),5.97×10^24 kg (1.0 Earth),NaN,NaN,NaN
4,Moons:,2 ( Phobos & Deimos ),1 ( Luna ),NaN,NaN,NaN
5,Orbit Distance:,"227,943,824 km (1.38 AU)","149,597,870 km (1.0 AU)",NaN,NaN,NaN
6,Orbit Period:,687 days (1.9 years),365.256 days (1.0 years),NaN,NaN,NaN
7,Surface Temperature:,-87 to -5 °C,-89 to 57 °C,NaN,NaN,NaN
15,First Record:,2nd millennium BC,uhh,NaN,NaN,NaN
16,Recorded By:,Egyptian astronomers,The monkeys in 2001: A Space Odyssey,NaN,NaN,NaN

In [372]:
dataframe = dataframe.reset_index()
dataframe

,3,0_x,1_x,2,0_y,1_y,2
0,1,Equatorial Diameter:,"6,792 km","12,742 km",NaN,NaN,NaN
1,2,Polar Diameter:,"6,752 km","12,713.6 km",NaN,NaN,NaN
2,3,Mass:,6.39 × 10^23 kg (0.11 Earths),5.97×10^24 kg (1.0 Earth),NaN,NaN,NaN
3,4,Moons:,2 ( Phobos & Deimos ),1 ( Luna ),NaN,NaN,NaN
4,5,Orbit Distance:,"227,943,824 km (1.38 AU)","149,597,870 km (1.0 AU)",NaN,NaN,NaN
5,6,Orbit Period:,687 days (1.9 years),365.256 days (1.0 years),NaN,NaN,NaN
6,7,Surface Temperature:,-87 to -5 °C,-89 to 57 °C,NaN,NaN,NaN
7,15,First Record:,2nd millennium BC,uhh,NaN,NaN,NaN
8,16,Recorded By:,Egyptian astronomers,The monkeys in 2001: A Space Odyssey,NaN,NaN,NaN

In [373]:
dataframe = dataframe.drop('3', 1)
dataframe

,0_x,1_x,2,0_y,1_y,2
0,Equatorial Diameter:,"6,792 km","12,742 km",NaN,NaN,NaN
1,Polar Diameter:,"6,752 km","12,713.6 km",NaN,NaN,NaN
2,Mass:,6.39 × 10^23 kg (0.11 Earths),5.97×10^24 kg (1.0 Earth),NaN,NaN,NaN
3,Moons:,2 ( Phobos & Deimos ),1 ( Luna ),NaN,NaN,NaN
4,Orbit Distance:,"227,943,824 km (1.38 AU)","149,597,870 km (1.0 AU)",NaN,NaN,NaN
5,Orbit Period:,687 days (1.9 years),365.256 days (1.0 years),NaN,NaN,NaN
6,Surface Temperature:,-87 to -5 °C,-89 to 57 °C,NaN,NaN,NaN
7,First Record:,2nd millennium BC,uhh,NaN,NaN,NaN
8,Recorded By:,Egyptian astronomers,The monkeys in 2001: A Space Odyssey,NaN,NaN,NaN

In [374]:
dataframe = dataframe.drop('0_y', 1)
dataframe

,0_x,1_x,2,1_y,2
0,Equatorial Diameter:,"6,792 km","12,742 km",NaN,NaN
1,Polar Diameter:,"6,752 km","12,713.6 km",NaN,NaN
2,Mass:,6.39 × 10^23 kg (0.11 Earths),5.97×10^24 kg (1.0 Earth),NaN,NaN
3,Moons:,2 ( Phobos & Deimos ),1 ( Luna ),NaN,NaN
4,Orbit Distance:,"227,943,824 km (1.38 AU)","149,597,870 km (1.0 AU)",NaN,NaN
5,Orbit Period:,687 days (1.9 years),365.256 days (1.0 years),NaN,NaN
6,Surface Temperature:,-87 to -5 °C,-89 to 57 °C,NaN,NaN
7,First Record:,2nd millennium BC,uhh,NaN,NaN
8,Recorded By:,Egyptian astronomers,The monkeys in 2001: A Space Odyssey,NaN,NaN

In [375]:
dataframe = dataframe.drop('1_y', 1)
dataframe

,0_x,1_x,2,2
0,Equatorial Diameter:,"6,792 km","12,742 km",NaN
1,Polar Diameter:,"6,752 km","12,713.6 km",NaN
2,Mass:,6.39 × 10^23 kg (0.11 Earths),5.97×10^24 kg (1.0 Earth),NaN
3,Moons:,2 ( Phobos & Deimos ),1 ( Luna ),NaN
4,Orbit Distance:,"227,943,824 km (1.38 AU)","149,597,870 km (1.0 AU)",NaN
5,Orbit Period:,687 days (1.9 years),365.256 days (1.0 years),NaN
6,Surface Temperature:,-87 to -5 °C,-89 to 57 °C,NaN
7,First Record:,2nd millennium BC,uhh,NaN
8,Recorded By:,Egyptian astronomers,The monkeys in 2001: A Space Odyssey,NaN

In [376]:
dataframe = dataframe.rename(columns={'0_x': '', '1_x': 'Mars', '2': 'Earth', '2': '3'})

In [377]:
dataframe = dataframe.rename(columns={'3': 'Earth'})

In [378]:
dataframe

,,Mars,Earth,2
0,Equatorial Diameter:,"6,792 km","12,742 km",NaN
1,Polar Diameter:,"6,752 km","12,713.6 km",NaN
2,Mass:,6.39 × 10^23 kg (0.11 Earths),5.97×10^24 kg (1.0 Earth),NaN
3,Moons:,2 ( Phobos & Deimos ),1 ( Luna ),NaN
4,Orbit Distance:,"227,943,824 km (1.38 AU)","149,597,870 km (1.0 AU)",NaN
5,Orbit Period:,687 days (1.9 years),365.256 days (1.0 years),NaN
6,Surface Temperature:,-87 to -5 °C,-89 to 57 °C,NaN
7,First Record:,2nd millennium BC,uhh,NaN
8,Recorded By:,Egyptian astronomers,The monkeys in 2001: A Space Odyssey,NaN

In [379]:
dataframe = dataframe.drop(columns=dataframe.columns[3])
dataframe

,,Mars,Earth
0,Equatorial Diameter:,"6,792 km","12,742 km"
1,Polar Diameter:,"6,752 km","12,713.6 km"
2,Mass:,6.39 × 10^23 kg (0.11 Earths),5.97×10^24 kg (1.0 Earth)
3,Moons:,2 ( Phobos & Deimos ),1 ( Luna )
4,Orbit Distance:,"227,943,824 km (1.38 AU)","149,597,870 km (1.0 AU)"
5,Orbit Period:,687 days (1.9 years),365.256 days (1.0 years)
6,Surface Temperature:,-87 to -5 °C,-89 to 57 °C
7,First Record:,2nd millennium BC,uhh
8,Recorded By:,Egyptian astronomers,The monkeys in 2001: A Space Odyssey

In [380]:
html_table = df.to_html()
print(html_table)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>1_x</th>
      <th>2</th>
      <th>1_y</th>
      <th>Earth</th>
    </tr>
    <tr>
      <th>0</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Equatorial Diameter:</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>6,792 km</td>
      <td>12,742 km</td>
    </tr>
    <tr>
      <th>Polar Diameter:</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>6,752 km</td>
      <td>12,713.6 km</td>
    </tr>
    <tr>
      <th>Mass:</th>
      <td>6.39 × 10^23 kg</td>
      <td>5.97 × 10^24 kg</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
      <td>5.97×10^24 kg (1.0 Earth)</td>
    </tr>
    <tr>
      <th>Moons:</th>
      <td>2</td>
      <td>1</td>
      <td>2 ( Phobos &amp; Deimos )</td>
      <td>1 ( Luna )</td>
    </tr>
    <tr>
      <th>Orbit Distance:</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>227,943,824 km (1.38 AU)</td>
      <td>149,597,870 km (1.0 AU)</td>
    </tr>
    <tr>
      <th>Orbit Period:</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>687 days (1.9 years)</td>
      <td>365.256 days (1.0 years)</td>
    </tr>
    <tr>
      <th>Surface Temperature:</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>-87 to -5 °C</td>
      <td>-89 to 57 °C</td>
    </tr>
    <tr>
      <th>First Record:</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>2nd millennium BC</td>
      <td>uhh</td>
    </tr>
    <tr>
      <th>Recorded By:</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>Egyptian astronomers</td>
      <td>The monkeys in 2001: A Space Odyssey</td>
    </tr>
  </tbody>
</table>

In [381]:
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>1_x</th>      <th>2</th>      <th>1_y</th>      <th>Earth</th>    </tr>    <tr>      <th>0</th>      <th></th>      <th></th>      <th></th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>NaN</td>      <td>NaN</td>      <td>6,792 km</td>      <td>12,742 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>NaN</td>      <td>NaN</td>      <td>6,752 km</td>      <td>12,713.6 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg</td>      <td>5.97 × 10^24 kg</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>      <td>5.97×10^24 kg (1.0 Earth)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2</td>      <td>1</td>      <td>2 ( Phobos &amp; Deimos )</td>      <td>1 ( Luna )</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>NaN</td>      <td>NaN</td>      <td>227,943,824 km (1.38 AU)</td>      <td>149,597,870 km (1.0 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>NaN</td>      <td>NaN</td>      <td>687 days (1.9 years)</td>      <td>365.256 days (1.0 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>NaN</td>      <td>NaN</td>      <td>-87 to -5 °C</td>      <td>-89 to 57 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>NaN</td>      <td>NaN</td>      <td>2nd millennium BC</td>      <td>uhh</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>NaN</td>      <td>NaN</td>      <td>Egyptian astronomers</td>      <td>The monkeys in 2001: A Space Odyssey</td>    </tr>  </tbody></table>'

In [385]:
df.to_html('table.html')

In [344]:
print(dataframe)

None